certifi==2025.10.5
chardet==5.2.0
charset-normalizer==3.4.4
cloc==0.2.5
colorama==0.4.6
colored==2.3.1
gitdb==4.0.12
GitPython==3.1.45
idna==3.11
iniconfig==2.1.0
loguru==0.7.3
markdown-it-py==4.0.0
mdurl==0.1.2
numpy==2.3.2
packaging==25.0
paho-mqtt==2.1.0
pluggy==1.6.0
pyboy==2.6.0
Pygments==2.19.2
pygount==3.1.0
PySDL2==0.9.17
pysdl2-dll==2.32.0
pytest==8.4.2
requests==2.32.5
rich==14.2.0
smmap==5.0.2
urllib3==2.5.0
win32_setctime==1.2.0
